
html, body {
	padding: 0;
	margin: 0;
}

html {
	background: #0a091c;
	color: #c3c47f;
	font-size: 1.1em;
	line-height: 1.4;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1, h2, h3 {
	color: #77bc57;
	padding: 0;
	margin: 0;
}

h4, h5, h6 {
	padding: 0;
	margin: 0;
}

a {
	color: #50ac89;
	text-decoration: none;
}
a:hover {
	color: #77bc57;
}

.btn {
	background-color: #50ac89;
	color: #0a091c;
	margin: 0 auto;
	margin-top: 10px;
	padding: 10px 30px 10px 30px;
	border-radius: 2px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	clear: both;
	max-width: fit-content;
}

.btn:hover {
	background: #77bc57;
	color: #0a091c;
}

.content {
	width: 900px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.content .logo {
	width: 50%;
}

.time {
	color: #77bc57;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-top: 12px;
}

.info {
	margin-top: 40px;
	margin-bottom: 50px;
	font-size: 1.6em;
	text-align: center;
}

.details {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 30px;
}

.details .col {
	flex: 1.0;
	background: #202f42;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 16px;
	border: 4px solid #50ac89;
	box-shadow: 10px 10px #70175d;
}

.details .col .icon {
	height: 1.5em;
	margin-right: 4px;
	display: inline;
}

.details .col h2 {
	font-size: 1.4em;
	display: inline;
}

.details.volunteer {
	text-align: center;
	width: 60%;
}

.details .para {
	margin-top: 10px;
}

.details .para img {
	width: 100%;
	border-radius: 4px;
}

.presentedby .logos {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.presentedby .logos img {
	height: 80px;
	flex: 1.0;
}

.newsletter-info {
	padding: 0 20px 20px 20px;
	margin: 0;
	background: #0a091c;
	border-radius: 0 0 10px 10px;
}

.games {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	gap: 2px;
	margin-top: 10px;
}

.games .entry {
	flex-grow: 1;
	width: 30%;
	height: 150px;
	position: relative;
	overflow: hidden;
}

.games .entry .preview {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-position: center;
	background-size: cover;
	transition: top 0.25s, left 0.25s, right 0.25s, bottom 0.25s;
}
.games .entry .fade {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #37946e;
	transition: opacity 0.25s;
}

.games .entry .title {
	position: absolute;
	width: 100%;
	top:50%;
	transform: translateY(-25%);
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-size: 1.5em;
	opacity: 0.0;
	text-transform: uppercase;
	filter: drop-shadow(2px 2px 0px #000);
	transition: opacity 0.25s, transform 0.25s, padding 0.2s;
}

.games .entry:hover .preview {
	left: -2%; top: -2%; right: -2%; bottom: -2%;
}
.games .entry:hover .fade {
	opacity: 0.5;
}
.games .entry:hover .title {
	opacity: 1.0;
	transform: translateY(-50%);
}

.subscribe {
	margin-top: 30px;
}

.land {
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	background: #70175d;
	color: #f3eed4;
}

@media (max-width: 900px) {
	html {
		font-size: 0.9em;
	}
	.content {
		width: 100%;
		padding: 5%;
		margin: 0;
		box-sizing: border-box;
	}
	.info {
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.content .logo {
		width: 80%;
	}
}

@media (max-width: 600px) {
	.details {
		flex-direction: column;
		margin-bottom: 0;
		gap: 0;
	}
	.details .col {
		margin-bottom: 5%;
	}
	.games .entry {
		width: 40%;
	}
	.details.volunteer {
		width: 100%;
	}
}